@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./modules/varibles";
@import "./modules/classes";
@import "./modules/reset";

header {
  nav {
    padding: 20px 0;
    ul {
      .li {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
    button {
      position: relative;
      p {
        position: absolute;
        top: 0;
        right: 2px;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50px;
        background-color: #d84141;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  @media screen and (min-width: 560px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.card {
  width: 100%;
  .image {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
