.d-f {
  display: flex !important;
}
.d-b {
  display: flex !important;
}
.container {
  width: 90% !important;
  margin: 0 auto !important;
}
.nav {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.header {
  border-bottom: 1px solid $gray;
  margin-bottom: 1rem;
  box-shadow: $shadow;
  padding: 10px 0 !important;
  button {
    position: relative;
    p {
      position: absolute;
      top: 0;
      right: 2px;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50px;
      background-color: $redBg;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
.btn {
  padding: 12px 20px !important;
  cursor: pointer !important;
  transition: 3ms !important;
  border-radius: 8px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 18px !important;
  color: $white !important;
  &:hover {
    opacity: 0.7 !important;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.w-100 {
  width: 100%;
}
.myBtn {
  background-color: $blueBg !important;
}
.myLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  a {
    font-size: 20px !important;
    font-weight: 600;
  }
}
.navbar-nav .nav-link.active {
  color: $blueBg !important;
}
