* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box !important;
  outline: none !important;
  font-family: $font !important;
  list-style: none !important;
  text-decoration: none !important;
}
a {
  font-size: 1rem !important;
  font-weight: 600;
}
.light {
  .text {
    color: $black !important;
  }
  .background {
    background-color: $white !important;
  }
}

.dark {
  .text {
    color: $white;
  }
  .background {
    background-color: $black;
  }
}
